@model Test_Crud_Carlos_Arrieta.Models.tUsers;

<h1>Hola @Model.txt_user</h1>
<h6>Vista de administrador</h6>

<a href="#" class="btn bg-primary">>Dar de alta a usuarios</a><br />
<a href="#" class="btn bg-primary">>Dar de baja a usuarios</a><br />
<a href="#" class="btn bg-primary">Modificar usuarios</a><br />