@model Test_Crud_Carlos_Arrieta.Models.tUsers;

    <div style="display:flex; align-items:center;">
        <h1>Hola @Model.txt_user</h1>
        <a style="margin-left:20px" href="@Url.Action("Index", new { closeSession = 1})" class="btn btn-danger">Cerrar sesion</a>
    </div>

    <h6>Vista de administrador</h6>


    <a href="#" class="btn bg-secondary" style="color:white; margin:10px; width:220px; display:block">Dar de alta a usuarios</a>
    <a href="#" class="btn bg-secondary" style="color:white; margin:10px; width:220px; display:block">Dar de baja a usuarios</a>
    <a href="#" class="btn bg-secondary" style="color:white; margin:10px; width:220px; display:block">Modificar usuarios</a>
    <a href="#" class="btn bg-secondary" style="color:white; margin:10px; width:220px; display:block">Comprar Peliculas</a>
    <a href="#" class="btn bg-secondary" style="color:white; margin:10px; width:220px; display:block">Alquilar peliculas</a>
    <a href="#" class="btn bg-secondary" style="color:white; margin:10px; width:220px; display:block">Devolver Peliculas</a>