@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
    <h6>Bienvenido al Test Crud de Carlos Arrieta</h6>
    <a href="@Url.Action("Login")" class="btn bg-primary" style="margin-right:10px; color:white">Iniciar Sesion</a>
    <a href="@Url.Action("Create", "Users")" class="btn bg-secondary"  style="margin-right:10px; color:white">Registrarse</a>
    <br /><br /><br /><br /><br />
    <h6>
        Para este ejercicio use un sistema de autenticacion y de roles creados por mi (no es seguro para un ambiente real),
        he trabajado con la autenticacion (IdentityUser) y los roles de los templates de asp .netCore MVC
        pero no los considere necesario para este ejercicio
    </h6>
    <h6>
        Estoy abierto a cualquier critica, o cualquier duda que tengan sobre mi implementacion,
        estoy consciente de que se puede mejorar mucho y estoy aqui para aprender y mejorar
    </h6>
    <h6>
        Si desean que le haga algun arreglo que estimen necesario pueden escribirme a mi email: carlozalejandro98@gmail.com
</h6>
</div>
