@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
    <h6>Bienvenido al test Crud de Carlos Arrieta</h6>
    <a href="" class="btn bg-primary" style="margin-right:10px; color:white">Iniciar Sesion</a>
    <a href="" class="btn bg-secondary"  style="margin-right:10px; color:white">Registrarse</a>

</div>
