@model Test_Crud_Carlos_Arrieta.Models.tUsers;

<div style="display:flex; align-items:center;">
    <h1>Hola @Model.txt_user</h1>
    <a style="margin-left:20px" href="@Url.Action("Index", new { closeSession = 1})" class="btn btn-danger">Cerrar sesion</a>
</div>

<h6>Vista de visitante, debes ser administrador para poder realizar operaciones, pidele a un administrador que te cambie al rol administrador</h6>



